@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('../font/pfdintextcondpro-bold.woff2'), url('../font/pfdintextcondpro-bold.woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('../font/pfdintextcondpro-medium.woff2'), url('../font/pfdintextcondpro-medium.woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('../font/pfdintextcondpro-regular.woff2'), url('../font/pfdintextcondpro-regular.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
